body {
  font-family: 'Permanent Marker', sans-serif;
  text-align: center;
  background: url(/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}

#name, #client {
  color: black;
  font-family: sans-serif;
}

#submitSearch {
  border-color: #770875;
  background-color: #770875;
  width: 150px;
  height: 150px;
  font-size: 32pt;
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 50%;
}

#submitSearch:hover {
  opacity: 0.7;
}

.stylistList {
  font-size: 20pt;
}

.stylistList a {
  color: #770875;
}
